@model CarHireV2.Models.IndexViewModel
@{
    ViewBag.Title = "主页";
}

@section LoadCSS{
    @Styles.Render("~/Content/css/index/page-index.css")
}

@section LoadJS{
    @Scripts.Render("~/Content/js/metro/metro-carousel.js")
    @Scripts.Render("~/Content/js/carHire/index.js")
}

@section BodyHandlers{
    onresize="resize()"
}

<div class="grid fluid no-tablet">
    <div class="row no-space">
        <div class="span10 offset1">
            <div class="row no-space">
                <div class="span12">
                    <div id="top" class="carousel" data-role="carousel">
                        @foreach (var carCarousel in Model.CarCarousel)
                        {
                            <div class="slide normalSlide">
                                <div class="cover1">
                                    <img src="@carCarousel.ImagePath" />
                                </div>
                                <div class="description text">
                                    <h2 class="fg-white">@carCarousel.Name</h2>

                                    <p class="fg-white">
                                        @carCarousel.BasicInfo
                                    </p>
                                    <button class="large carsDark" onclick="carSelected(@carCarousel.ID);">查看详情</button>
                                </div>
                            </div>
                        }
                        @foreach (var routeCarousel in Model.RouteCarousel)
                        {
                            <div class="slide normalSlide">
                                <div class="cover1">
                                    <img src="@routeCarousel.ImagePath" />
                                </div>
                                <div class="description text">
                                    <h2 class="fg-white">@routeCarousel.Name</h2>

                                    <p class="fg-white">
                                        @routeCarousel.BasicInfo
                                    </p>
                                    <button class="large routeDark" onclick="routeDialog(@routeCarousel.ID);">查看详情</button>
                                </div>
                            </div>
                        }
                        <a class="controls left">
                            <i class="fa fa-angle-left">
                            </i>
                        </a><a class="controls right">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            @if (Model.CarList.Count > 0)
            {
                <div class="row">
                    <div class="span12 containers carsLight">
                        <h1>车型</h1>
                        @{var carRowCount = (int)Math.Ceiling(Model.CarList.Count / 3.0);}
                        @for (var carRow = 0; carRow < carRowCount; carRow++)
                        {
                            <div class="row">
                                @for (var carIndex = carRow * 3; carIndex < carRow * 3 + 3; carIndex++)
                                {
                                    if (carIndex >= Model.CarList.Count)
                                    {
                                        break;
                                    }
                                    else
                                    {
                                        var nowCar = Model.CarList[carIndex];
                                        <div class="span4">
                                            <div class="panel carsBorder">
                                                <div class="panel-header carsDark">
                                                    <div class="headersContent">@nowCar.Name</div>
                                                    <i class="fa fa-car details"></i>
                                                </div>
                                                <div class="panel-content">
                                                    <div class="image-container">
                                                        <a href="javascript:carSelected(@nowCar.ID);"><img src="@nowCar.ImagePath"></a>

                                                        <div class="overlay-fluid">
                                                            <p>@nowCar.BasicInfo</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        <div class="row">
                            <div class="span12">
                                <a class="button large carsDark seeAll" href="/Info/Car">查看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
                            }
            @if (Model.RouteList.Count > 0)
            {
                <div class="row">
                    <div class="span12 containers routeLight">
                        <h1>线路</h1>
                        @{var routeRowCount = (int)Math.Ceiling(Model.RouteList.Count / 3.0);}
                        @for (var routeRow = 0; routeRow < routeRowCount; routeRow++)
                        {
                            <div class="row">
                                @for (var routeIndex = routeRow * 3; routeIndex < routeRow * 3 + 3; routeIndex++)
                                {
                                    if (routeIndex >= Model.RouteList.Count)
                                    {
                                        break;
                                    }
                                    else
                                    {
                                        var nowRoute = Model.RouteList[routeIndex];
                                        <div class="span4">
                                            <div class="panel routeBorder">
                                                <div class="panel-header routeDark">
                                                    <div class="headersContent">@nowRoute.Name</div>
                                                    <i class="fa fa-road details"></i>
                                                </div>
                                                <div class="panel-content">
                                                    <div class="image-container">
                                                        <a href="javascript:routeDialog(@nowRoute.ID);"><img src="@nowRoute.ImagePath"></a>

                                                        <div class="overlay-fluid">
                                                            <p>@nowRoute.BasicInfo</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
                            }
            @if (Model.ActivityList.Count > 0)
            {
                <div class="row">
                    <div class="span12 containers activityLight">
                        <h1>活动</h1>

                        @foreach (var activity in Model.ActivityList)
                        {
                            <div class="row">
                                <div class="span12">
                                    <div class="panel activityBorder">
                                        <div class="panel-header activityDark">
                                            <div class="headersContent">@activity.Name</div>
                                            <i class="fa fa-gift details"></i>
                                        </div>
                                        <div class="panel-content">
                                            <div class="image-container">
                                                <a href="/Order/Select"><img src="@activity.ImagePath"></a>

                                                <div class="overlay-fluid">
                                                    <p>@activity.BasicInfo</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="grid fluid no-desktop no-large">
    <div class="row no-space">
        <div class="span10 offset1">
            <div class="row no-space">
                <div class="span12">
                    <div id="top" class="carousel" data-role="carousel">
                        @foreach (var carCarousel in Model.CarCarousel)
                        {
                            <div class="slide normalSlide">
                                <div class="cover1">
                                    <img src="@carCarousel.ImagePath" />
                                </div>
                                <div class="description text">
                                    <h2 class="fg-white">@carCarousel.Name</h2>

                                    <p class="fg-white">
                                        @carCarousel.BasicInfo
                                    </p>
                                    <button class="large carsDark" onclick="carSelected(@carCarousel.ID);">查看详情</button>
                                </div>
                            </div>
                        }
                        @foreach (var routeCarousel in Model.RouteCarousel)
                        {
                            <div class="slide normalSlide">
                                <div class="cover1">
                                    <img src="@routeCarousel.ImagePath" />
                                </div>
                                <div class="description text">
                                    <h2 class="fg-white">@routeCarousel.Name</h2>

                                    <p class="fg-white">
                                        @routeCarousel.BasicInfo
                                    </p>
                                    <button class="large routeDark" onclick="routeDialog(@routeCarousel.ID);">查看详情</button>
                                </div>
                            </div>
                        }
                        <a class="controls left">
                            <i class="fa fa-angle-left">
                            </i>
                        </a><a class="controls right">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            @if (Model.CarList.Count > 0)
            {
                <div class="row">
                    <div class="span12 containers carsLight">
                        <h1>车型</h1>
                        @foreach (var car in Model.CarList)
                        {
                            <div class="row">
                                <div class="span12">
                                    <div class="panel carsBorder">
                                        <div class="panel-header carsDark">
                                            <div class="headersContent">@car.Name</div>
                                            <i class="fa fa-car details"></i>
                                        </div>
                                        <div class="panel-content">
                                            <div class="image-container">
                                                <a href="javascript:carSelected(@car.ID);"><img src="@car.ImagePath"></a>

                                                <div class="overlay-fluid">
                                                    <p>@car.BasicInfo</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="span12">
                                <a class="button large carsDark seeAll" href="/Info/Car">查看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.RouteList.Count > 0)
            {
                <div class="row">
                    <div class="span12 containers routeLight">
                        <h1>线路</h1>
                        @foreach (var route in Model.RouteList)
                        {
                            <div class="row">
                                <div class="span4">
                                    <div class="panel routeBorder">
                                        <div class="panel-header routeDark">
                                            <div class="headersContent">@route.Name</div>
                                            <i class="fa fa-road details"></i>
                                        </div>
                                        <div class="panel-content">
                                            <div class="image-container">
                                                <a href="javascript:routeDialog(@route.ID);"><img src="@route.ImagePath"></a>

                                                <div class="overlay-fluid">
                                                    <p>@route.BasicInfo</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model.ActivityList.Count > 0)
            {
                <div class="row">
                    <div class="span12 containers activityLight">
                        <h1>活动</h1>

                        @foreach (var activity in Model.ActivityList)
                        {
                            <div class="row">
                                <div class="span12">
                                    <div class="panel activityBorder">
                                        <div class="panel-header activityDark">
                                            <div class="headersContent">@activity.Name</div>
                                            <i class="fa fa-gift details"></i>
                                        </div>
                                        <div class="panel-content">
                                            <div class="image-container">
                                                <a href="/Order/Select"><img src="@activity.ImagePath"></a>

                                                <div class="overlay-fluid">
                                                    <p>@activity.BasicInfo</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{
    <script>
        setTimeout(resize, 500);
    </script>
}
